body {
    font-family: Helvetica, sans-serif;
}

.notes {
    border-collapse: collapse;
    border: 2px #333 solid;
}

.notes td,
.notes th {
    padding: 1em;
    border: 1px #ccc solid;
}
.notes tbody th {
    color: #336699;
    text-align: left;
}
.notes tr:nth-child(even) {
    background-color: #DDD;
}

/*
.notes thead {
    position: fixed;
    top: 0;
    width: 100%;
}*/

.notes-caption {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1em;
}
.notes-thead {
    text-align: left;
    background-color: #333;
    color: #eee;
    text-transform: uppercase;
}

.notes-tfoot {
    font-weight: bold;
    font-size: 1.2em;
}

.nobreak {
    white-space: nowrap;
}
.align-right {
    text-align: right;
}